@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Category";
}

<div class="text-center">
    <h3>Категории</h3>
    @foreach (dynamic category in Model)
    {
        <p><a href="~/Home/SubCategories/@category.Id">@category.Name (@category.Learn)</a></p>
        <img src="../@category.Picture" width="256" height="256" alt="@category.Name">
    }
</div>
