@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Category";
}

<div class="text-center">
    @foreach (dynamic category in Model)
    {
        <p><a href="~/Home/SubCategories?id=@category.Id&idLangLearn=@category.idLangLearn&idLangNative=@category.idLangNative">@category.Name (@category.Learn)</a></p>
        <img src="../@category.Picture" width="256" height="256" alt="@category.Name">
    }
</div>
