
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm())
{
<div>
    @Html.DropDownList("idLangNative", ViewBag.languagesList as SelectList)
</div>
<div>
    @Html.DropDownList("idLangLearn", ViewBag.languagesList as SelectList)
</div>
<p>
    <input type="submit" value="Погнали" />
</p>
}