@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "SubCategory";
}

<div class="text-center">
    @foreach (dynamic subCategory in Model)
    {
        <p><a href="~/Home/Tests?id=@subCategory.Id&idLangLearn=@subCategory.idLangLearn&idLangNative=@subCategory.idLangNative">@subCategory.Name (@subCategory.Learn)</a></p>
        <img src="../../@subCategory.Picture" width="256" height="256" alt="@subCategory.Name">
    }
</div>

