@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Tests";
}

<div>
    <p><a href="~/Home/Manual?id=@ViewBag.CategoryId&idLangLearn=@ViewBag.idLangLearn&idLangNative=@ViewBag.idLangNative">Manual</a></p>
    <p><a href="~/Home/Slideshow?id=@ViewBag.CategoryId&idLangLearn=@ViewBag.idLangLearn&idLangNative=@ViewBag.idLangNative">Slideshow</a></p>
</div>

<div class="text-center">
    @foreach (dynamic test in Model)
    {
        <p><a href="~/Home/@test.Icon.Substring(74);/@test.Id">@test.Name (@test.Learn)</a></p>
        <img src="../../@test.Icon" width="64" height="64" alt="@test.Name">
    }
</div>
